@model Error404.Models.CustomerViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Loyality</th>
    </tr>
    @{
        int i = 1;
    }
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@(i++)</td>
            <td>@customer.Code</td>
            <td>@customer.Name</td>
            <td>@customer.Address</td>
            <td>@customer.Email</td>
            <td>@customer.Contact</td>
            <td>@customer.Loyality</td>
            <td>@Html.ActionLink("Edit", "Edit", "Customer", new { Id = customer.Id }, null)</td>
        </tr>
    }

</table>


