@model  Error404.Models.SalesReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pb-5">
    <form method="post">
        <div class="card">
            <div class="card-header text-info text-center"><h3>Sales Report</h3></div>
            <div class="card-body badge-gradient-dark">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Start Date</label>
                            <input type="date" name="StartDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">End Date</label>
                            <input type="date" name="EndDate" class="form-control" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success float-right" value="Search" />
            </div>            
        </div>
    </form>


    <br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="badge-gradient-dark text-white">
                <th>Sl</th>
                <th>Date</th>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>SoldQty</th>
                <th>CP</th>
                <th>SoldPrice</th>
                <th>Profit</th>
            </tr>
        </thead>
        @{
            int i = 1;
        }
        <tbody>
            @foreach (var salesReport in Model.SalesReport)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@salesReport.Date</td>
                    <td>@salesReport.Code</td>
                    <td>@salesReport.Name</td>
                    <td>@salesReport.Category</td>
                    <td>@salesReport.Soldqty</td>
                    <td>@salesReport.CP</td>
                    <td>@salesReport.SalesPrice</td>
                    <td>@salesReport.Profit</td>
                </tr>
            }
        </tbody>
    </table>
</div>



